<!DOCTYPE html>
<html ng-app="minApp">
    <head>
        <script src="node_modules/angular/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
        <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
        <script src="node_modules/angular-google-chart/ng-google-chart.js"></script>
        <script src="node_modules/angular-loading-bar/src/loading-bar.js"></script>
        <script src="script/app.js"></script>
        <script src="script/MainController.js"></script>
        <script src="script/MovieService.js"></script>

        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="node_modules/angular-loading-bar/src/loading-bar.css" />
        <link rel="stylesheet" href="css/style.css"></style>
    </head>

    <body ng-controller="MainController">

        <div class="container">
            <div id="min_container">
                <form name="searchMovie" ng-submit="search(moviename)" class="input-group stylish-input-group">
                    <input type="text" class="form-control" required placeholder="Search" ng-model="moviename">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </form>
                <br>
                <div class="row" ng-show="resultat">
                    <div class="col-md-6">
                        <h3>{{resultat.Title}}</h3>         <br>
                        Year: {{resultat.Year}}             <br>
                        Runtime: {{resultat.Runtime}}       <br>
                        Director: {{resultat.Director}}     <br>
                        Starring: {{resultat.Actors}}       <br>
                        Metascore: {{resultat.Metascore}}   <br>
                        Imdb score: {{resultat.imdbRating}} <br>
                    </div>
                    <div class="col-md-6">
                        <img ng-src="{{resultat.Poster}}"
                    </div>
                </div>
                
            </div>
        </div>
        
    </body>

</html>
